body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #a7b3d6;
    text-align: center;
}

h1 {
    font-size: 48px;
}

ul {
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 36px;
    margin-top: 50px;
}
table{
    display: inline;
    border-spacing: 0;
}

.score-box {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.score-text {
    font-size: larger;
    padding: 0 7%;
}
.turn-display {
    font-size: large;
}

.table-cell {
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.left-cell {
    border-right: solid 5px #000;
}

.right-cell {
    border-left: solid 5px #000;
}

.upper-cell {
    border-top: none;
}

.circle {
    z-index: 2;
    position: relative;
    top: 50%;
}

.cross {
    position: relative;
    top: 50%;
}

#grid-box {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 360px;
    max-height: 360px;
}

.table-cell {
    max-width: 120px;
    max-height: 120px;
}

.hidden {
    visibility: hidden;
}

.save-button {
    margin-top: 3%;
}

#reset-button {
    margin-top: 5%;
}

#game-board {
    display: flex;
    justify-content: center;
}

.vertical-line {
    position: absolute;
    height: 1px;
    width: 360px;
    border-top: 5px black solid;
    display: flex;
    justify-content: center;
}

.horizontal-line {
    position: absolute;
    width: 1px;
    height: 360px;
    border-left: 5px black solid;
}

.left-line {
    margin-left: 120px;
}

.right-line {
   margin-right: 120px; 
}

.upper-line {
    top: 390px;
}

.lower-line {
    top: 510px;
}